*{
  margin: 0%;
}
body {background-image: url(./images/earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
 }

.navbar {
  background-color: #c50000;
  font-size: 1.6rem;
  
  
}

.navbar ul{
  list-style-type: none;
  display: flex;
}

.navbar ul a:hover {

  color: rgb(17, 1, 105);
}

.navbar a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 6rem;
  
}

body {
  margin: 0%;
  padding: 0%;
  text-align: center;

}

.title {
  margin-top: 100px;
  color: #fff;

}

.title h1 {
  font-size: 32px;
  line-height: 10px;

}

form {
  margin-top: 35px;

}

.form-control {
  width: 500px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(221, 217, 217);
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background-color: #fa6706;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 05px;
  height: 50px;
  margin-top: 20px;
  transition: 0.4s ease; 

}

form .submit:hover {
  background-color:#9b3e00;
  cursor: pointer;
}

h4 {
  text-align: center;
  margin-top: 03%;
}



